:root {
  --di-gi_blue: #2B4074;
  --white: #ffffff;
  --elephant_bone_color: rgba(249, 246, 229, 1);
  --quote_brown: #4A4A4A;
;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
  max-width: 1440px;
}

.container {
  max-width: 1230px;
  margin: 0 auto 0 auto;
}

.branded-link {
  display: inline-block;
  width: auto;
  border: none;

  background-color: var(--di-gi_blue);
  text-transform: uppercase;
  font-family: 'Roboto', Arial, sans-serif;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.branded-link--light {
  background-color: var(--elephant_bone_color);
  color: var(--di-gi_blue);
}

.branded-link--blue {
  background-color: var(--di-gi_blue);
  color: var(--elephant_bone_color);
}

.owl-pagination {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.owl-page {
  width: 10px;
  height: 10px;

  border-radius: 100%;
}

.owl-page span {
  display: none;
}

.owl-page:not(:last-of-type) {
  margin-right: 10px;
}

/* .pagination__oval:not(:last-of-type) {
  margin-right: 10px;
} */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.branded-line {
  width: 99px;
  height: 8px;
  border: none;
  margin: 0;
}

.branded-line--blue {
  background-color: var(--di-gi_blue);
}

.branded-line--white {
  background-color: var(--white);
}

/** HEADER section ---------------------------------------------------- */

.header {
  width: 100%;
  max-width: 1440px;
  background-color: var(--di-gi_blue);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 17px 90px 17px 0;
}

.header__humburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 40px;
  height: 40px;
  border: none;

  border-radius: 3px;

  background-color: var(--white);
  cursor: pointer;
}

.header__humburger-menu span {
  width: 12px;
  height: 2px;

  border-radius: 1px;
  background-color: var(--di-gi_blue);
}

.header__humburger-menu span:not(:last-of-type) {
  margin-bottom: 2px;
}

/** INTRO section ---------------------------------------------------- */

.intro {
  position: relative;

  max-width: 1440px;
}

.intro__pages {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.intro__page {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 668px;
  margin: 0;
  padding: 107px 0 0 0;

  background-color: var(--di-gi_blue);
  background-size: 1440px 668px;
  background-position: center;
  background-repeat: no-repeat;
}

.intro__page1 {
  background-image: url(../pictures/bg-img-10.jpg);
}

.intro__page2 {
  background: url(../pictures/bg-img-10.jpg);
}

.intro__page3 {
  background-image: url(../pictures/bg-img-10.jpg);
}

.intro__page::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(33, 33, 33, 0.3);
}

.intro__title,
.intro__caption-text,
.intro__page .branded-link {
  z-index: 2;
}

.intro__title {
  display: block;
  max-width: 45%;
  margin: 0 auto 22px;

  text-align: center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 96px;
  text-transform: uppercase;
  line-height: 1em;
  color: var(--white);
}

.intro__caption-text {
  max-width: 60%;
  margin: 0 auto 30px;

  text-align: center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--white);
}

.intro__page .branded-link {
  padding: 16px 46px;

  font-weight: 400;
}

/* .intro__aside-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  margin: 0;
  padding: 0;

  list-style-type: none;
} */

.intro .owl-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.intro .owl-prev,
.intro .owl-next {
  position: relative;

  display: block;
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
  border: none;

  cursor: pointer;
}

.intro .owl-prev {
  order: 1;

  background-color: var(--di-gi_blue);
}

.intro .owl-next {
  order: 2;

  background-color: var(--elephant_bone_color);
}

.intro .owl-next::after,
.intro .owl-prev::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  border-style: solid;
  border-width: 0 4px 4px 0;
  padding: 9px;
}

.intro .owl-next::after {
  transform: translate(-60%, -50%) rotate(-45deg);

  border-color: #929292;
}

.intro .owl-prev::after {
  transform: translate(-40%, -50%) rotate(135deg);

  border-color:  var(--white);
}

.intro__aside-button--back {
  background-color: var(--di-gi_blue);
}

.intro__aside-button--forth {
  background-color: var(--elephant_bone_color);
}

.intro .owl-pagination {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%, 0);

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.intro .owl-page {
  border: 1px solid var(--white);

  background-color: var(--white);
  cursor: pointer;
}

.intro .owl-page.active {
  background-color: transparent;
  border-color: var(--white);
}

/** PROMO section --------------------------------------------------- */

.promo {
  margin: 0;
  padding: 57px 150px;

  background-color: var(--di-gi_blue);
  color: var(--white);
}

.promo .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.promo__text {
  max-width: 50%;
}

.promo__motto {
  display: block;
  margin: 0 0 5px 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.promo__description {
  font-family: 'Dosis', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.promo__link {
  padding: 16px;

  font-weight: 500;
}

/** SERVICE section --------------------------------------------- */

.service {
  background-color: var(--white);
}

.service .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 5px 16px 0;
  max-width: 1350px;
}

.service__text {
  max-width: 30%;
}

.service .section-title {
  margin-bottom: 65px;
}

.service__text-motto {
  display: block;
  margin-bottom: 30px;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.service .branded-line {
  margin-bottom: 35px;
}

.service__text-description {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: rgba(121, 121, 121, 1);
}

.service__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.service__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 212px;
  min-height: 255px;
  border: 5px solid transparent;
  padding: 0 10px;

  transition: ease-in-out 400ms;
}

.service__item:hover {
  border: 5px solid var(--di-gi_blue);
}

.service__item::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 25px;

  background-size: contain;
  background-repeat: no-repeat;

  transition: ease-in-out 400ms;
}

.service__item--strategy::before {
  background-image: url(../images/service_strategy.png);
}

.service__item--analysis::before {
  background-image: url(../images/service_analysis.png);
}

.service__item--social-media::before {
  background-image: url(../images/service_social.png);
}

.service__item--development::before {
  background-image: url(../images/service_development.png);
}

.service__item--content::before {
  background-image: url(../images/service_content.png);
}

.service__item--ux::before {
  background-image: url(../images/service_ux.png);
}

.service__item--targeting::before {
  background-image: url(../images/service_targeting.png);
}

.service__item--product::before {
  background-image: url(../images/service_product.png);
}

.service__item:hover::before {
  margin-bottom: 15px;
}

.service__title {
  margin-bottom: 18px;

  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(74, 74, 74, 1);
}

.service__description {
  display: none;
  margin-bottom: 18px;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: rgba(155, 155, 155, 1);

  transition: ease-in-out 400ms;
}

.service__item:hover .service__description {
  display: block;
}

.service__link {
  display: none;

  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: rgba(43, 64, 116, 1);
  text-transform: uppercase;
  cursor: pointer;

  transition: ease-in-out 400ms;
}

.service__link::after {
  content: " →";

  position: relative;
  top: -2px;
}

.service__item:hover .service__link {
  display: block;
}

/** PROJECTS section ---------------------------------------------- */

.projects {
  background-color: var(--di-gi_blue);
  background: linear-gradient(180deg, var(--di-gi_blue), rgba(43, 64, 116, 0));

}

.projects .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 0 80px 0;
}

.projects .section-title {
  margin: 0 0 24px 0;
  padding: 0;
  max-width: 60%;

  color: var(--white);
}

.projects .branded-line {
  margin-bottom: 68px;
}

.projects__items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 0 30px;
  padding: 0;
  
  list-style-type: none;
}

.projects__item {
  flex-basis: 268px;
  margin-right: 30px;
}

.projects__figure {
  margin: 0 0 50px 0;
  padding: 0;
}

.projects__picture {
  position: relative;

  display: inline-block;
  width: 100%;

  border-radius: 3px;
}

.projects__picture-wrapper {
  position: relative;

  margin-bottom: 29px;
}

.projects__picture-cover {
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 12px;
  left: 12px;

  opacity: 0;
  background-color: rgba(249, 246, 229, 0.83);
  border-radius: 3px;

  transition: ease-out 200ms;
}

.projects__item:hover .projects__picture-cover {
  opacity: 1;
}

.projects__figure-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  justify-content: space-between;
  align-items: center;

  width: 70px;
  height: 32px;
}

.projects__item:hover .projects__figure-buttons {
  display: flex;
}

.projects__info-btn,
.projects__enlarge-btn {
  margin: 0;
  padding: 0;
  border: 0;
  width: 25px;
  height: 25px;

  background-color: transparent;
  background-size: 25px 25px;
  cursor: pointer;
}

.projects__info-btn {
  background-image: url(../images/ico_info.png);
}

.projects__enlarge-btn {
  background-image: url(../images/ico_enlarge.png);
}

.projects__figcaption {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

/** TEAM section -------------------------------------------- */

.team {
  background-color: var(--white);
}

.team .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 0;
}

.team__photo {
  margin-right: 100px;

  object-fit: cover;
}

.team .section-title {
  margin: 0 0 30px 0;
  padding: 0;
} 

.team__text-part .branded-line {
  margin: 0 0 40px 0;
}

.team__description {
  margin: 0 0 40px 0;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.team__link {
  display: inline-block;
  padding: 21px 35px;
}

/** NEWS section*/

.news {
  background-color: var(--elephant_bone_color);
}

.news .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 52px 0 85px 0;
}

.news .section-title {
  margin: 0 0 20px 0;
  padding: 0;
  max-width: 60%;
}

.news .branded-line {
  margin: 0 0 115px 0;
}

.news__gallery {
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;

  margin: 0;
  padding: 0;
  width: 100%;

  list-style-type: none;
}

.news__item {
  break-inside: avoid;
  word-break: break-all;
  white-space: normal;
}

.news__figure {
  position: relative;

  margin: 0 0 30px 0;
  padding: 0;

  border-radius: 3px;

  transition: ease-in-out 300ms;
}

.news__figure::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: 4px;

  transition: ease-in-out 300ms;
}

.news__item:hover .news__figure::after {
  -webkit-box-shadow: inset 10px 10px var(--di-gi_blue),
                      inset -10px -10px var(--di-gi_blue),
                      inset 10px -10px var(--di-gi_blue),
                      inset -10px 10px var(--di-gi_blue);
  box-shadow: inset 10px 10px var(--di-gi_blue),
              inset -10px -10px var(--di-gi_blue),
              inset 10px -10px var(--di-gi_blue),
              inset -10px 10px var(--di-gi_blue);
}

.news__image {
  border-radius: 4px;

  transition: ease-in-out 300ms;
}

.news__figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 10px 20px;
  width: 100%;

  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: left;
  color: rgba(74, 74, 74, 1);
  background-color: var(--white);

  transition: ease-in-out 300ms;
}

.news__item:hover .news__figcaption {
  bottom: 30px;

  color: var(--white);
  background-color: var(--di-gi_blue);
}

.news__item-info {
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 28px;
  height: 28px;

  background-image: url(../images/ico_info--white.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;

  transition: ease-in-out 300ms;
}

.news__item:hover .news__item-info {
  opacity: 1;
}

/** QUOTE section ------------------------------------------- */

.quote {
  min-height: 530px;

  background-color: var(--white);
}

.quote .container {
  position: relative;

  min-height: 530px;
}

.quote__quotes {
  position: relative;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.quote__quotes::before {
  content: "";

  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 35px;
  height: 35px;

  background-image: url(../images/quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.quote__item {
  /* position: absolute;
  top: 0;
  left: 0; */

  padding: 170px 0 220px 0;
}

.quote__item blockquote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.quote__text {
  margin: 0 0 30px 0;

  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  color: var(--quote_brown);
}

.quote__text--emphasized {
  font-weight: 700;
  color: var(--di-gi_blue);
  font-style: normal;
}

.quote__author {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: center;
  color: var(--quote_brown);
}

.quote__author::before {
  content: "- ";
}

.quote .owl-pagination {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  padding: 0;
}

.quote .owl-page {
  border: 1px solid var(--di-gi_blue);

  background-color: var(--di-gi_blue);
  cursor: pointer;
}

.quote .owl-page.active {
  background-color: transparent;
  border-color: var(--di-gi_blue);
}

/** FOOTER section ---------------------------------------- */

.footer {
  position: relative;

  background-color: var(--di-gi_blue);
}

.footer::before {
  content: "";

  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 260px;
  height: 80px;

  background-color: var(--di-gi_blue);
  background-image: url(../images/di_gi_logo.png);
  background-size: 83px 55px;
  background-repeat: no-repeat;
  background-position: center top;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 160px 0 116px 0;
}

.footer__call-to-action {
  margin: 0 0 80px 0;
  padding: 0;
  max-width: 750px;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
  text-align: left;
  color: var(--white);
}

.footer__social {
  display: flex;
  flex-direction: row;
  margin: 0 0 80px 0;
  padding: 0;
  width: 100%;

  list-style-type: none;
}

.footer__social > li {
  width: 280px;
  height: 60px;
  flex-grow: 1;
  border: 1px solid rgba(126, 191, 132, 1);

  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 25px;
  cursor: pointer;
}

.footer__social > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__social-fb {
  background-image: url(../images/fb.png);
}

.footer__social-twitter {
  background-image: url(../images/twitter.png);
}

.footer__social-google {
  background-image: url(../images/google.png);
}

.footer__social-pinterest {
  background-image: url(../images/pinterest.png);
}

.footer__social > li:first-child {
  border-left-color: transparent;
}

.footer__social > li:last-child {
  border-right-color: transparent;
}

.footer__links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;

  list-style-type: none;
}

.footer__links > li {
  flex-grow: 1;
}

.footer__link-header {
  margin: 0 0 22px 0;
  padding: 0;

  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  color: var(--elephant_bone_color);
}

.footer__link *:not(h3) {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: var(--white);
}

.footer__contact-links {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer__help-links {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer__menu-links {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/** BOTTOM PAGE LINK TO TOP ------------------------ */

.bottom-page-link-to-top {
  margin: 0;
  padding: 11px 136px 11px 0;

  background-color: var(--elephant_bone_color);
}

.bottom-page-link-to-top a {
  display: inline-block;
  width: 100%;

  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(74, 74, 74, 1);
}

.bottom-page-link-to-top a::after {
  content: "";

  display: inline-block;
  width: 14.5px;
  height: 14.5px;
  border: solid #000000;
  border-width: 2px 0 0 2px;
  transform: translate(20px, 5px) rotate(45deg);

  transition: ease-in-out 300ms;
}