:root {
  --di-gi_blue: #2B4074;
  --white: #ffffff;
;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
  max-width: 1440px;
}

.container {
  max-width: 1230px;
  margin: 0 auto 0 auto;
}

.branded-link {
  display: inline-block;
  width: auto;

  background-color: var(--di-gi_blue);
  text-transform: uppercase;
  font-family: 'Roboto', Arial, sans-serif;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.pagination {
  list-style-type: none;

}

.pagination__oval {
  display: inline-block;
  width: 10px;
  height: 10px;

  border-radius: 100%;
  vertical-align: top;
}

.pagination__oval:not(:last-of-type) {
  margin-right: 10px;
}

/* HEADER section ---------------------------------------------------- */

.header {
  width: 100%;
  max-width: 1440px;
  background-color: var(--di-gi_blue);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 17px 90px 17px 0;
}

.header__humburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 40px;
  height: 40px;
  border: none;

  border-radius: 3px;

  background-color: var(--white);
  cursor: pointer;
}

.header__humburger-menu span {
  width: 12px;
  height: 2px;

  border-radius: 1px;
  background-color: var(--di-gi_blue);
}

.header__humburger-menu span:not(:last-of-type) {
  margin-bottom: 2px;
}

/* INTRO section ---------------------------------------------------- */

.intro {
  position: relative;

  max-width: 1440px;
}

.intro__pages {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.intro__page {
  position: relative;

  display: none;
  width: 100%;
  min-height: 668px;
  margin: 0;
  padding: 107px 0 0 0;

  background-color: var(--di-gi_blue);
  background-size: 1440px 668px;
  background-position: center;
  background-repeat: no-repeat;
}

.intro__page--visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__page1 {
  background-image: url(../pictures/bg-img-10.jpg);
}

.intro__page2 {
  background: url(../pictures/bg-img-10.jpg);
}

.intro__page3 {
  background-image: url(../pictures/bg-img-10.jpg);
}

.intro__page::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(33, 33, 33, 0.3);
}

.intro__title,
.intro__caption-text,
.intro__page .branded-link {
  z-index: 2;
}

.intro__title {
  display: block;
  max-width: 45%;
  margin: 0 auto 22px;

  text-align: center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 96px;
  text-transform: uppercase;
  line-height: 1em;
  color: var(--white);
}

.intro__caption-text {
  max-width: 60%;
  margin: 0 auto 30px;

  text-align: center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--white);
}

.intro__page .branded-link {
  padding: 16px 46px;

  color: rgba(249, 246, 229, 1);
  font-weight: 400;
}

.intro__aside-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.intro__aside-button {
  position: relative;

  display: block;
  width: var(--aside_button_dimension);
  height: var(--aside_button_dimension);
  margin: 0;
  padding: 0;
  border: none;

  cursor: pointer;

  --aside_button_dimension: 70px;
}

.intro__aside-button--back::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%) rotate(-45deg);

  border-style: solid;
  border-width: 0 4px 4px 0;
  padding: 9px;

  border-color:  var(--white);
}

.intro__aside-button--forth::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%) rotate(135deg);

  border-style: solid;
  border-width: 0 4px 4px 0;
  padding: 9px;

  border-color:  var(--di-gi_blue);
}

.intro__aside-button--back {
  background-color: var(--di-gi_blue);
}

.intro__aside-button--forth {
  background-color: rgba(249, 246, 229, 1);
}

.intro .pagination {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%, 0);

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.intro .pagination__oval {
  border: 1px solid var(--white);

  background-color: var(--white);
  cursor: pointer;
}

.intro .pagination__oval--active {
  background-color: transparent;
  border-color: var(--white);
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}